.container {
  display: grid;
  place-content: center;
}

.radio__container {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

.radio__container div {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.radio__container input[type="radio"] {
  margin-right: 10px;
}

.home__button {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 10px;
  width: 633px;
}

.custon__hr {
  width: 633px;
  margin: 0 auto;
  margin-top: 10px
}

#siguiente__button,
#volver__button {
  width: 80px;
}

hr {
  border: 1px solid gray;
  border-radius: 3px;
}