.radio__container {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

.radio__container div {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.radio__container input[type="radio"] {
  margin-right: 10px;
}

.home__button {
  display: flex;
  justify-content: space-between;
  margin-left: 19rem;
  margin-right: 16rem;
  margin-bottom: 10px;
}

#siguiente__button {
  width: 40%;
  margin-right: 3.4rem;
  width: 80px;
}

#volver__button {
  width: 40%;
  width: 80px;
}


hr {
  width: 51%;
  border: 1px solid gray;
  border-radius: 3px;
  margin-left: 19.2rem;
}