.radio__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.radio__container div {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.radio__container input[type="radio"] {
  margin-right: 10px;
}